<footer>

    <div class="container">
        <img class="footerLogo" src="/images/cabinTree.png">
        <div class="row justify-content-around pt-4">
            <div class="col-md-2">
                <h4>
                    LOCATION
                </h4>
                <p>
                    7 Saint Peter's Square, Ruthin, <br>NP7 9HA
                </p>
            </div>
            <div class="col-md-3">
                <h4>
                    OPENING HOURS
                </h4>
                <p>
                    Mon: Closed
                    <br> Tue-Fri: 09:00 - 17:00
                    <br> Sat 10:00 - 17:00
                    <br> Sun: 11:00 - 16:00
                </p>
            </div>
            <div class="col-md-2">
                <h4>
                    CONTACT US
                </h4>
                <p>
                    Tel: 07823696973
                </p>
                <p>
                    Email: cabin.coffee@yahoo.com
                </p>
            </div>
            <div class="col-md-2 mb-4">
                <h4>
                    FOLLOW US
                </h4>
                <span><i class="fab fa-facebook-f"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="fab fa-instagram"></i></span>
            </div>
        </div>
    </div>
    <div class="rgFooter">
        Website created by: <a href="https://www.robgrimes.uk">Rob Grimes</a> 2020
    </div>
</footer>

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="./scripts/parallax.min.js"></script>
<script src="./scripts/myjquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>