<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hummingbird</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link href="https://fonts.googleapis.com/css2?family=Noticia+Text&family=PT+Mono&family=Satisfy&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a616ba950f.js" crossorigin="anonymous"></script>
</head>
<body>