<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light">
    <a class="navbar-brand d-md-none col-6" href="#">
        <img class="logo-img" src="./images/Logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                	<i class="fas fa-bars" id="burgerIcon"></i>
            	</button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="container col-4">
            <a class="navbar-brand d-none d-md-inline" href="#">
                <img class="logo-img" src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/50976859_604029586718456_3590706540513853440_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=8XkOsAZ2DXwAX8-iZTO&_nc_ht=scontent-lhr8-1.xx&oh=725d28cb6d73bd262750945a6c2886a6&oe=5F05F1AD"
                    alt="">
            </a>
        </div>
        <div class="container navlinks col-md-8">
            <a href="/" class="nav-link col-12 col-md-2">HOME</a>
            <a id="aboutLink" class="nav-link col-12 col-md-2">ABOUT US</a>
            <a href="/ourCF" class="nav-link col-12 col-md-3">OUR COFFEE & FOOD</a>
            <a href="/gallery" class="nav-link col-12 col-md-2">GALLERY</a>
        </div>
    </div>
</nav>