<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light">
    <a class="navbar-brand d-md-none col-6" href="#">
        <img class="logo-img" src="./images/cabinLogo.jpg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                	<i class="fas fa-bars" id="burgerIcon"></i>
            	</button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="container col-4">
            <a class="navbar-brand d-none d-md-inline" href="#">
                <img class="logo-img" src="./images/cabinLogo.jpg" alt="">
            </a>
        </div>
        <div class="container navlinks col-md-8">
            <a href="/" class="nav-link col-12 col-md-2">HOME</a>
            <a href="#" id="aboutLink" class="nav-link col-12 col-md-2">ABOUT US</a>
            <a href="#" id="foodDrinkLink" class="nav-link col-12 col-md-3">OUR FOOD & DRINK</a>
            <a href="/gallery" class="nav-link col-12 col-md-2">GALLERY</a>
        </div>
    </div>
</nav>