<%- include("partials/header") %>

<!-- ===== Parallax 1 ==== -->
<div class="parallax-3">
	<div class="parallax-window-3" data-parallax="scroll" data-image-src="/images/coffeeMap.jpg">
		<%- include("partials/navbar"); %>
	</div>
</div>
<!-- ===== Parallax 1 ==== -->

<div class="container">
	<div class="row justify-content-around my-4">
		<div class="col-4">
			<form action="/about" method="POST">
				<h3>
					Drop us a message!
				</h3>
				<div class="form-group">
					<input class="form-control" type="text" name="message[name]" placeholder="Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="message[email]" placeholder="Email">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="message[subject]" placeholder="Subject">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="message[content]" placeholder="Message"></textarea>
				</div>
				<button class="btn btn-lg btn-primary btn-block">Submit message</button>
			</form>
		</div>
		<div class="col-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.0386840075303!2d-3.002100048275233!3d51.768899979579224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4871dbb59a0afd57%3A0x37c205144fd8df84!2sHummingbird!5e0!3m2!1sen!2suk!4v1590509536512!5m2!1sen!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	</div>



</div>



<!-- ===== Parallax 2 ==== -->
<div class="parallax-2">
	<div class="parallax-window-2" data-parallax="scroll" data-image-src="/images/coffee3.jpg">
	</div>
</div>
<!-- ===== Parallax 2 ==== -->

<%- include("partials/footer") %>