<%- include("partials/header") %>

<div class="parallax-3">
	<div class="parallax-window-3" data-parallax="scroll" data-image-src="/images/coffeeMap.jpg">
		<%- include("partials/navbar"); %>
	</div>
</div>

<%- include("partials/footer") %>