<%- include("partials/header"); %>
    <!-- ==== Parallax 1 ==== -->
    <div class="parallax-top">
        <div class="parallax-window " data-parallax="scroll" data-image-src="/images/ruthinTown.jpg">
            <%- include("partials/navbar"); %>

                <div class="hero">
                    <div class="col">
                        <h1>Ruthin's</h1>
                        <h1>Grooviest</h1>
                        <h1>Coffee</h1>
                        <h1>Shop</h1>
                    </div>
                </div>

                <div class="heroFooter row m-auto">
                    <div class="heroBottom col-md-6 ">
                        <div class="row justify-content-left">
                            <div class="col-7 p-0">
                                <h4 class="">Psst...more down here</h4>
                            </div>
                            <div class="downArrow bounce col-1 p-0">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- ===== Parallax 1 ==== -->

    <div class="container">
        <div class="contentTop py-4 ">
            <section id="about" class="about mb-5">
                <div class=" row justify-content-around">
                    <div class="col-md-5">


                        <img class="overlayLogo" src="/images/cabinTree.png">


                        <div class="welcomeCard">
                            <h2>Welcome to The Cabin</h2>
                            <p>
                                Ruthin’s grooviest coffee shop, serving local coffee, beautiful homemade cakes and a wide variety of hot chocolates.
                            </p>
                            <img class="rowImage" src="/images/welcome.jpg">
                        </div>
                    </div>
                    <div class="col-md-5 m-4">

                        <h1>A little about us</h1>
                        <p>Based in Ruthin we're a small homely cafe looking to provide that perfect cup of coffee or that succulent piece of cake. </p>
                        <p>We have a range of lunch items and snacks available from local sources as well as often having arts and crafts for sale. Pop your head in and say hello! Dogs are also welcome of course!</p>

                    </div>
                </div>
            </section>

            <div class="row justify-content-center mb-5">
                <div class="col-lg-6 px-5 purpose">
                    <img class="overlayLogo2" src="/images/cabinTree.png">
                    <div class="panelContent my-auto">
                        <h2>
                            The Purpose of The Cabin
                        </h2>

                        <p>
                            The Cabin was born wiht the idea of bringing people together and to have somewhere where happiness could be spread.
                        </p>
                        <p>
                            We've tried to create the best atmosphere we could to sit with friends and have a laugh and leave the worlds troubles behind. All we need now is you!
                        </p>
                    </div>

                </div>
                <div class="col-lg-4 purpose p-0">
                    <img class="rowImage" src="/images/cabinInterior.jpg">
                </div>
            </div>
            <hr>
            <div id="foodDrink" class="foodDrink">
                <h1>Our Food and Drink</h1>
                <div class="row justify-content-around my-4">
                    <div class="col-md-4 mt-5 pt-4">

                        <p>Locally sourced coffee, a selection of fruit teas and a variety of hot chocolates and milkshakes.<br> We also have a selection of coffee syrups including sugar free options, ready to inject that extra bit of flavour</p>
                    </div>
                    <div class="partialBorder d-none d-md-inline"></div>
                    <div class="col-md-4">
                        <img class="menuImg right" src="/images/menu1.jpg" alt="">
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-md-4">
                        <img class="menuImg left" src="/images/menu2.jpg" alt="">
                    </div>
                    <div class="partialBorder d-none d-md-inline"></div>
                    <div class=" col-md-4 mt-5 pt-4">
                        <p>We often have a great selection of food from multiple local sources including fresh cakes and bakes from <em>Mariana's Italian Cookery</em>! <br><br> Victoria sponge to coffee cake, almond and amaretto cake to a delicious chocloate
                            and pecan gluten free tart, we do our best to get whatever you want in!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===== Parallax 2 ==== -->
    <div class="parallax-bottom ">
        <div class="parallax-window-2 " data-parallax="scroll " data-image-src="/images/coffee3-min.jpg ">
        </div>
    </div>
    <!-- ===== Parallax 2 ==== -->
    <div class="container">
        <div class="contentBottom py-4 ">
            <h1>How to find us</h1>
            <div class="row justify-content-around">
                <div class="col-md-4 mb-4 mb-md-0">
                    <form action="/about " method="POST ">
                        <h2>
                            Drop us a message!
                        </h2>
                        <div class="form-group ">
                            <input class="form-controlRG" type="text " name="message[name] " placeholder="Name - disabled for demo purposes " disabled required>
                        </div>
                        <div class="form-group ">
                            <input class="form-controlRG" type="text " name="message[email] " placeholder="Email - disabled for demo purposes " disabled required>
                        </div>
                        <div class="form-group ">
                            <input class="form-controlRG" type="text " name="message[subject] " placeholder="Subject - disabled for demo purposes " disabled required>
                        </div>
                        <div class="form-group ">
                            <textarea class="form-controlRG" name="message[content] " placeholder="Message - disabled for demo purposes " disabled required></textarea>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block " disabled>Submit message</button>
                    </form>
                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90817.06007649461!2d-3.1075482845118763!3d52.9978054792552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4865331640553a6b%3A0xf4d20ec28a706807!2s7%20St%20Peter&#39;s%20Square%2C%20Ruthin%20LL15%201DL!5e0!3m2!1sen!2suk!4v1592221136302!5m2!1sen!2suk "
                        width="600 " height="400 " frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
                </div>
            </div>
        </div>
    </div>




    <%- include("partials/footer"); %>