<%- include("partials/header"); %>
<!-- ==== Parallax 1 ==== -->
<div class="parallax-1">
	<div class="parallax-window" data-parallax="scroll" data-image-src="/images/coffee2.jpg">
		<%- include("partials/navbar"); %>
	</div>
</div>
<!-- ===== Parallax 1 ==== -->
<div class="content-1">
	<div class="container">
		<div class="row">
			<span class="dot mx-auto"><i class="fas fa-chevron-down mt-4"></i></span>
		</div>
		<div class="row mb-5 justify-content-around">
			<div class="col-md-5">
				<div class="row">
					<div class="col-12">
						<img class="rowImage" src="/images/hummingbird1.jpg">
					</div>
				</div>			
				<div class="row">
					<div class="col-12">
						<img src="/images/LogoOutline.png" class="content1logo">
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<h2>Welcome to Hummingbird</h2>
					<p>
						An independent coffee, gift and clothing shop on the A4042. Hummingbird is located on the Llanover Estate close to the Monmouthshire and Brecon Canal. There is free parking and an extensive choice of indoor and outdoor seating.
					</p>
				</div>
				<div class="row">
					<img class="rowImage" src="/images/coffee4.jpg">
				</div>
			</div>
		</div>
		<div class="row mb-5 justify-content-center">
			<div class="col-md-4 LegendHummingbird">
				<img class="rowImage" src="/images/coffee5.jpg">
			</div>
			<div class="col-md-6 px-5 LegendHummingbird">
				<div class="row justify-content-end">
					<img src="/images/LogoOutline.png" id="panelContentLogo">		
				</div>
				<div class="row" id="panelContent">
					<h2>
						The legend of the Hummingbird
					</h2>
					<p>
						Legends say that hummingbirds float free of time, carrying our hopes for love, joy and celebration.
					</p>
					<p>
						Hummingbirds open our eyes to the wonder of the world and inspire us to open our hearts to loved ones and friends. Like a hummingbird, we aspire to hover and to savour each moment as it passes, embrace all that life has to offer and to celebrate the joy of everyday.
					</p>
					<p>
						The hummingbird's delicate grace reminds us that life is rich, beauty is everywhere, every personal connection has meaning and that laughter is life's sweetest creation.
					</p>
				</div>

			</div>
		</div>
	</div>	
</div>
<!-- ===== Parallax 2 ==== -->

<div class="parallax-2">
	<div class="parallax-window-2" data-parallax="scroll" data-image-src="/images/coffee3.jpg">
	</div>
</div>
<!-- ===== Parallax 2 ==== -->


<%- include("partials/footer"); %>