<%- include("partials/header"); %>
<!-- ==== Parallax 1 ==== -->
<div class="parallax-1">
	<div class="parallax-window" data-parallax="scroll" data-image-src="/images/coffee2.jpg">
		<%- include("partials/navbar"); %>
	</div>
</div>
<!-- ===== Parallax 1 ==== -->
<div class="container">
	<div class="row">
		<span class="dot"><i class="fas fa-chevron-down mt-4"></i></span>
	</div>
	<div class="row my-4">
		<div class="col-md-6">
			<img class="contentimg" src="/images/hummingbird1.jpg">
		</div>
	</div>
</div>
<!-- ===== Parallax 2 ==== -->

<div class="parallax-2">
	<div class="parallax-window-2" data-parallax="scroll" data-image-src="/images/coffee3.jpg">
	</div>
</div>
<!-- ===== Parallax 2 ==== -->
<div>
	<h1>
		Hello 2
	</h1>
</div>


<%- include("partials/footer"); %>