<%- include("partials/header") %>

<!-- ===== Parallax 1 ==== -->
<div class="parallax-top">
	<div class="parallax-window-4" data-parallax="scroll" data-image-src="/images/coffeeParalax4.jpg">
		<%- include("partials/navbar"); %>
	</div>
</div>
<!-- ===== Parallax 1 ==== -->
<div class="row">
	<span class="dot mx-auto"><i class="fas fa-chevron-down mt-4"></i></span>
</div>
<div class="container top mb-5">
	<h2 centre>
		Our Coffee
	</h2>
	<p>
		Our coffee is supplied by the coffee roasters Carvetti. It is an ever changing coffee offering which reflects the coffee harvest in various countries. Our core product is our Seasonal Espresso Blend which often utilises a percentage of African coffees to produce a brighter profile with a fruity undertone.  In milk this produces a smooth, sweet beverage. Our Knott Halloo espresso blend uses coffees with a naturally lower acidity and often tends towards a more chocolate and nut profile.  Again, in milk the character is smooth and sweet. We always have a decaffeinated coffee on our list which changes seasonally in line with our other coffees.
	</p>
	<h2>
		Our Menu
	</h2>
	<p>
		Our menu focuses on locally sourced ingredients where possible. We offer gluten free, vegetarian and vegan options. If you have any food intolerance or allergy, please let us know as we are very flexible and there is always something we can do.
	</p>
</div>
<div class="container menu mb-4">
	<div class="row pb-4">
		<div class="col-lg-6 pt-4">
			<img width="100%" src="./images/menu/drinksMenu.jpg">
		</div>
		<div class="col-lg-6 pt-4">
			<img width="100%" src="./images/menu/breakfastMenu.jpg">
		</div>
		<div class="col-lg-6 pt-4">
			<img width="100%" src="./images/menu/lunchMenu.jpg">
		</div>
		<div class="col-lg-6 pt-4">
			<img width="100%" src="./images/menu/summerSpecials.jpg">
		</div>
	</div>
</div>



<%- include("partials/footer") %>
