<%- include("partials/header") %>

<!-- ===== Parallax 1 ==== -->
<div class="parallax-top">
	<div class="parallax-window-4" data-parallax="scroll" data-image-src="/images/coffeeParalax4.jpg">
		<%- include("partials/navbar"); %>
	</div>
</div>
<!-- ===== Parallax 1 ==== -->

<div class="container">
	<div class="row">
		<span class="dot mx-auto"><i class="fas fa-chevron-down mt-4"></i></span>
	</div>
</div>

<%- include("partials/footer") %>
