body {
    width: 100%;
    background-color: #efefef;
}

.contentTop {
    background-color: white;
    margin-top: -10vh;
}

.contentBottom {
    background-color: white;
}

iframe {
    width: 100%;
}


/* navbar */

nav img {
    width: 50%;
    height: 50%;
}

nav a {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
}

nav img {
    border-radius: 50%;
    width: 100px;
}

nav a:hover {
    color: grey;
}

nav {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.2em;
}

.navbar-toggler {
    border: none;
}

#burgerIcon {
    color: #00537b;
}


/* parallax effects */

.parallax-top {
    width: 100%;
    height: 110vh;
}

.parallax-bottom {
    width: 100%;
    height: 40vh;
}

.parallax-window {
    position: relative;
    height: 110vh;
    background: transparent;
}

.parallax-window-2 {
    height: 40vh;
    background: transparent;
}

.parallax-window-3 {
    height: 100vh;
    background: transparent;
}

.parallax-window-4 {
    height: 100vh;
    background: transparent;
}


/* custom styling for all icons */

i.fas,
i.fab {
    font-size: 2.5em;
    color: #ffffff;
}

.downArrow i {
    font-size: 1.5rem;
}

.dot {
    margin-top: -150px;
    text-align: center;
    height: 150px;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    background: rgb(255, 255, 255);
}

h2,
.contentTop h1,
.contentBottom h1 {
    margin: 1em auto;
    color: #00537b;
    font-family: 'Satisfy', cursive;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Noticia Text', serif;
    color: #5B95B0;
}

.LegendHummingbird {
    background-color: #f4efe2;
    padding: 0;
}

.rowImage {
    width: 100%;
}

.content1logo {
    height: 15vw;
    margin-top: -60px;
    transform: scaleX(-1);
}

.overlayLogo {
    position: relative;
    height: 120px;
    /* top: 75px; */
    left: 25px;
    z-index: 2;
}

.welcomeCard {
    background-color: #f4efe2;
    height: fit-content;
    padding: 0;
    margin-top: -75px;
}

.welcomeCard img {
    width: 100%;
}

#panelContentLogo {
    height: 200px;
    margin-top: -75px;
    transform: rotate(-20deg);
}

#panelContent {
    line-height: 1.6;
}

footer,
footer p {
    font-family: 'PT Mono', monospace;
    background-color: #00537b;
    color: white !important;
    text-align: left !important;
    font-size: 0.8rem;
}

footer .dot {
    margin-top: -70px;
    text-align: center;
    height: 150px;
    width: 350px;
    border-radius: 50%;
    display: inline-block;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 83, 123, 1) 50%);
}

footer h4 {
    font-size: 18px;
    line-height: 1.2em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10%;
}

textarea {
    resize: none;
}

.form-control {
    border: 0;
    border-bottom: 1px solid #555;
    border-radius: 0;
}

.btn-primary {
    background-color: #00537b;
    border-color: #00537b;
}

.btn-primary:hover {
    background-color: #005F8F;
    border-color: #005F8F;
}

.menu {
    background: #c7d5e4;
}

.top {
    margin-top: -60px;
}

.gallery img {
    width: 100%;
}

.hero {
    color: white;
    font-size: 50px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Satisfy', cursive;
}

.heroFooter {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Satisfy', cursive;
    position: absolute;
    bottom: 10vh;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}